{% extends "base.html" %}

{% block content %}

<div class="centered-text" style="color: blue;">
    <h1>Contact Management</h1>
</div>

<form action="{% url 'contact_form' %}" method="get">
    <button type="submit">Create a New Contact</button>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Contact Name</th>
      <th>Email</th>
      <th>Created Time</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contact_list %}
    <tr>
      <td>
        <a class="icon-link" href="{% url 'contact_detail' contact.pk %}">
            <i class="bi bi-pencil"></i>
        </a>
          &nbsp;

          <a class="icon-link">
            <i class="bi bi-trash"></i>
          </a>
        &nbsp;

        <a style="color: black; text-decoration: none;" href="{% url 'contact_detail' contact.pk %}">
            {{ contact.name }}
        </a>
      </td>
      <td>
        {{ contact.email}}
      </td>
      <td>
        {{ contact.created_time}}
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>

<hr>
<div class="centered-text" style="color: green;">
    <h4>&copy; Created by Shreya Kapgate</h4>
</div>

{% endblock content %}
